<article class="embedd-comment {{#isEven}}evenDepth{{/isEven}} {{#lowScore}}closed{{/lowScore}}">

  <aside class="details">
    <span class="detail hide-children">
      <a class="hideChildrenBtn" href="javascript:void(0)"></a>
    </span>

    <span class="detail author">
      <a href="{{author_link}}" target="_blank">{{author}}</a>
    </span>

    {{#redditActive}}
      {{#score}}
        <span class="detail score">
          {{score}} points
        </span>
      {{/score}}
    {{/redditActive}}

    {{#created}}
      <a class="detail timestamp" href="{{thread}}" target="_blank" title="{{created.jsonFormatted}}">
        {{created.humanized}}
      </a>
     {{/created}}

     {{#permalink}}
       <span class="detail permalink">
          <span>on</span>
          <a href="{{permalink}}" target="_blank">/r/{{subreddit}}</a>
        </span>
      {{/permalink}}
  </aside>

  {{#body_html}}
  {{& body_html}}
  {{/body_html}}

  {{#hasReplies}}
  <div class="children">
    {{#replies}}
    {{> comment}}
    {{/replies}}
  </div>

  {{#loadMore}}
  <div class="viewMore">
    <a href="javascript:void(0)">continue this thread</a>
  </div>
  {{/loadMore}}

  {{/hasReplies}}

</article>
