@import "bourbon";
@import "neat";

@include keyframes(embeddFadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.embedd-container {
  padding: 20px 0 40px 0;

  .embedd-inner {
    @include animation(embeddFadeIn 500ms ease-in);
    max-width: none;

    .embedd-logo {
      font-size: 0.7em;
      margin: 0.5em 0;
      text-align: center;
    }

    .no-comments {
      font-size: 1.35em;
    }

    .score {
      font-weight: bold;
    }

    .timestamp {
      color: #888;
    }

    p, b, h3, h5, button, .score {
      color: #333;
    }

    a {
      color: #369;
      text-decoration: none;
    }

    .embedd-info {
      display: inline-block;
      text-align: center;
      width: 100%;
    }

    .buttons {
      button {
        background: #fff;
        border: 1px solid #f2f2f2;
        border-bottom: none;
        padding: 1px 6px;
        padding-top: 2px;
        cursor: pointer;
        opacity: 0.7;
        line-height: 22px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      img {
        position: relative;
        top: 3px;
      }

      .active {
        opacity: 1;
      }
    }

    .more-btn-container {
      text-align: center;
    }

    .more-btn {
      border: 1px solid #f2f2f2;
      border-radius: 3px;
      background-color: #f5f5f5;
      padding: 5px 10px;
      margin: 10px 0;
      cursor: pointer;
      font: inherit !important;
    }

    .embedd-comment {
      padding: 10px;
      padding-top: 10px;
      margin-bottom: 10px;
      border: 1px solid #E6E6E6;
      border-radius: 3px;
      background-color: #F7F7F8;

      p {
        margin: 10px 0;
      }

      .details {
        font-size: 0.9em;

        .detail {
          display: inline-block;
          vertical-align: baseline;
        }

        .detail + .detail {
          margin-left: 0.2em;
        }
      }

      .children .detail.permalink {
        display: none;
      }

      .hideChildrenBtn::before {
        content: "[–]";
        font-style: normal;
      }

      blockquote {
        margin: 0;
        padding: 0 1em;
        opacity: 0.7;

        p {
          padding-left: 15px;
          border-left: 2px solid #666;
        }
      }

      .viewMore {
        text-align: center;
      }

      .children {
        padding-top: 15px;
      }

      h1 {
        font-size: 1.5em;
      }

      h2 {
        font-size: 1.4em;
      }

      h3 {
        font-size: 1.3em;
      }

      h4 {
        font-size: 1.2em;
      }

      h5 {
        font-size: 1.1em;
      }
    }

    .embedd-comment .embedd-comment:nth-of-type(n+4) {
      display: none;
    }

    .embedd-comment.evenDepth {
      background-color: #fdfdfd;
    }

    .embedd-comment[data-visibility="hidden"] {
      .md, .links, .children, p {
        display: none;
      }

      .hideChildrenBtn::before {
        content: "[+]";
      }

      .viewMore {
        display: none;
      }

      span {
        font-style: italic;
        opacity: 0.7;
      }
    }

    @media only screen and (min-width: 640px) {
      .embedd-comment {
        padding: 20px;
      }
      .embedd-info {
        text-align: left;
      }
    }
  }
  .hasBtns .comments > .embedd-comment:first-of-type {
      border-top-left-radius: 0;
    }
  .dark {
    img {
      @include filter(invert(100%));
    }

    @include filter(invert(90%));
  }
}
